@import "./variables";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  font-family: "NMMedium", sans-serif;
  font-size: calc(100vw / 1440 * 10);

  @media (max-width: 768px) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  background-color: $color-white;
}

a {
  text-decoration: none;
  color: inherit;
}

._container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16rem;
  margin-bottom: 24rem;
}
